<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!--使用jdbc的getGeneratedKeys获取数据库自增主键值  -->
        <setting name="useGeneratedKeys" value="true"/>
        <!-- 使用列别名替换列名   默认：true
            select name as title from table
         -->
        <setting name="useColumnLabel" value="true"/>
        <!-- 开启驼峰命名转换：Table(create_time) -> Entity(createTime) -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <package name="org.example.shopping.bean"/>
    </typeAliases>

<!--    <typeHandlers>-->
<!--        <typeHandler handler="com.lyj.mybatisaction.type.EnabledTypeHandler"-->
<!--                     javaType="com.lyj.mybatisaction.type.Enabled"/>-->
<!--    </typeHandlers>-->

    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
        </plugin>
    </plugins>

<!--    <environments default="development">-->
<!--        <environment id="development">-->
<!--            <transactionManager type="JDBC">-->
<!--                <property name="" value=""/>-->
<!--            </transactionManager>-->
<!--            <dataSource type="UNPOOLED">-->
<!--                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
<!--                <property name="url" value="jdbc:mysql://localhost:3306/practice?useSSL=false&amp;serverTimezone=Asia/Shanghai&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;allowPublicKeyRetrieval=true"/>-->
<!--                <property name="username" value="root"/>-->
<!--                <property name="password" value="root"/>-->
<!--            </dataSource>-->
<!--        </environment>-->
<!--    </environments>-->

<!--    <mappers>-->
<!--        <package name="org.example.shopping.mapper"/>-->
<!--    </mappers>-->
</configuration>
