<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.shopping.mapper.ClassifyMapper">

    <resultMap id="classifyMap" type="classify">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="order" column="order"/>
        <result property="enable" column="enable"/>
        <collection property="shopsList" ofType="Shops" autoMapping="true"
                    select="org.example.shopping.mapper.ShopMapper.findAllByCid"
                    column="{c_id = classify.id}">
        </collection>
    </resultMap>

    <sql id="field">
        id, name, sort, enable
    </sql>

    <select id="findAll" resultMap="classifyMap">
        SELECT
            <include refid="field"/>
        FROM classify WHERE enable = 1 ORDER BY sort ASC
    </select>

    <select id="findClassify" resultType="classify">
        SELECT
        <include refid="field"/>
        FROM classify WHERE enable = 1
    </select>

</mapper>