<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.shopping.mapper.ShopCartMapper">

    <resultMap id="shopCartMap" type="org.example.shopping.bean.ShopCart">
        <id property="id" column="id"/>
        <result property="uid" column="u_id"/>
        <result property="did" column="d_id"/>
        <result property="eid" column="e_id"/>
        <result property="cid" column="c_id"/>
        <result property="sid" column="s_id"/>
        <result property="price" column="price"/>
        <result property="totalPrice" column="total_price"/>
        <result property="number" column="number"/>
        <result property="state" column="state"/>
        <result property="dname" column="dname"/>
        <result property="image" column="image"/>
        <result property="ename" column="ename"/>
        <result property="cname" column="cname"/>
    </resultMap>

    <sql id="sca">
        sc.id,sc.price,total_price,number,de.name as dname,de.image as image,ed.name as ename,cr.name as cname,sc.state as state
    </sql>

    <insert id="insertShopCart">
        INSERT INTO shopcart (u_id, d_id, e_id, c_id, s_id, price, total_price, number, state)
        VALUES
        (#{uid}, #{did}, #{eid}, #{cid}, #{sid}, #{price}, #{totalPrice}, #{number}, #{state})

    </insert>

    <select id="isSetShopCart" resultMap="shopCartMap">
        SELECT * FROM shopcart WHERE u_id = #{uid} AND d_id = #{did} AND e_id = #{eid} AND c_id = #{cid} AND state = #{state}
    </select>

    <update id="incShopCartNumber">
        UPDATE shopcart SET total_price = total_price+#{price}, number = number+#{num} WHERE id = #{id}
    </update>

    <select id="selectShopCartAll" resultMap="shopCartMap">
        SELECT
        <include refid="sca"></include>
        FROM shopcart as sc
        LEFT JOIN details as de ON de.d_id = sc.d_id
        LEFT JOIN specifications as ed ON ed.id = sc.e_id
        LEFT JOIN specifications as cr ON cr.id = sc.c_id
        WHERE u_id = #{uid} AND state &gt;= 0 AND state &lt; 2
    </select>

    <select id="selectOrderAll" resultMap="shopCartMap">
        SELECT
        <include refid="sca"></include>
        FROM shopcart as sc
                 LEFT JOIN details as de ON de.d_id = sc.d_id
                 LEFT JOIN specifications as ed ON ed.id = sc.e_id
                 LEFT JOIN specifications as cr ON cr.id = sc.c_id
        WHERE u_id = #{uid} AND state = 1
    </select>

    <update id="updateShopCartState">
        UPDATE shopcart SET total_price = #{price}, number = #{num}, state = #{state} WHERE id = #{id}
    </update>

    <update id="updateOrderState">
        UPDATE shopcart SET state = #{state} WHERE id = #{id}
    </update>

    <select id="selectScById" resultMap="shopCartMap">
        SELECT * FROM shopcart WHERE FIND_IN_SET (id, #{sid})
    </select>

    <select id="selectShopInId" resultMap="shopCartMap">
        SELECT
            shopcart.price as price,shopcart.number as number,
            details.`name` as dname,details.image,ed.`name` as ename,cr.`name` as cname
        FROM
             shopcart,details,specifications as ed,specifications as cr
        WHERE
            FIND_IN_SET (shopcart.id, #{sid}) AND shopcart.d_id = details.d_id AND shopcart.e_id = ed.id AND shopcart.c_id = cr.id
    </select>

    <update id="updateScState">
        UPDATE shopcart SET state = 2 WHERE FIND_IN_SET (id, #{id})
    </update>

</mapper>