<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.shopping.mapper.ShopMapper">
    
    <resultMap id="shopDetails" type="org.example.shopping.bean.Shops">
        <id property="id" column="d_id"/>
        <result property="cid" column="c_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="image" column="image"/>
        <result property="edition" column="edition"/>
        <result property="color" column="color"/>
        <result property="money" column="money"/>
    </resultMap>
    <resultMap id="detailSpecification" type="org.example.shopping.bean.InitShop">
        <result property="dname" column="dname"/>
        <result property="eid" column="eid"/>
        <result property="ename" column="ename"/>
        <result property="cid" column="cid"/>
        <result property="cname" column="cname"/>
        <result property="price" column="price"/>
    </resultMap>

    <select id="selectShopList" resultMap="shopDetails">
        SELECT * FROM details WHERE c_id = #{cid} LIMIT #{s}, #{e}
    </select>

    <select id="findShopById" resultMap="shopDetails">
        SELECT * FROM details WHERE d_id = #{id}
    </select>

    <select id="initShopAndEdCr" resultMap="detailSpecification">
        SELECT
            d.name as dname,ed.id as eid,ed.name as ename,cr.id as cid,cr.name as cname,ed.price+cr.price as price
        FROM details as d
        LEFT JOIN specifications as ed ON ed.id = #{eid}
        LEFT JOIN specifications as cr ON cr.id = #{cid}
        WHERE d.d_id = #{did}
    </select>
    
    <select id="findAllByCid" resultMap="shopDetails">
        SELECT * FROM details WHERE c_id = #{c_id} LIMIT 0,24
    </select>

    <select id="selectAllShop" resultMap="shopDetails">
        SELECT * FROM details WHERE 1 = 1
        <if test="name!=null and name != ''">
            AND name like concat('%',#{name,jdbcType=VARCHAR},'%')
        </if>

    </select>

    <insert id="save" parameterType="shops">
        INSERT INTO details (c_id, name, description, image, money)
        VALUE (#{cid}, #{name}, #{description}, #{image}, #{money})
    </insert>

    <update id="update" parameterType="shops">
        UPDATE details SET
           c_id = #{cid}, name = #{name}, description = #{description}, image = #{image}
        WHERE d_id = #{id}
    </update>

</mapper>